@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --custom-background-color: #193b62;
}

.ag-theme-quartz {
  display: absolute;
  --ag-header-foreground-color: white;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  /* box-shadow: 0 0 10px gold; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-size: medium;
  /* background-image: url('https://www.yjktechnologies.com/assets/img/logo_3-removebg-preview.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;*/
}

h1 {
  /* text-shadow: 2px 2px 2px goldenrod; */
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  /* color: var(--custom-background-color); */
}

.ag-header {
  background-color: var(--custom-background-color);
  border-bottom: 1px solid goldenrod;
}

.newaddform :invalid {
  display: none;
}
.ag-header-cell {
  border-right: 1px solid rgb(41, 40, 40);
}

/* .ag-row {
  border-bottom: 1px solid goldenrod;
} */

.ag-row.ag-row-even {
  background-color: #f9f9f9;
}

.ag-row.ag-row-odd {
  background-color: #fff;
}

.ag-row-hover {
  background-color: #89b5e8;
}

button {
  background-color: gold;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  align-items: right;
  margin-bottom: 2px;
  font-family: "Poppins", sans-serif;
}

button:hover {
  /* background-color: black; */
  color: gold;
}

/* form styles */

.newaddform {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center !important;
}

.newaddform {
  display: flex !important;
  flex-wrap: wrap !important;
  max-width: 100% !important; /* Adjust the maximum width as needed */
}

label {
  margin: 0 10px 10px 0;
}

input {
  width: 150px; /* Adjust the input width as needed */
  padding: 5px;
  border-radius: 5px;
}

button {
  padding: 10px;
  margin: 0px 5px 0px 5px;
}

.upper {
  margin: 10px;
}

.ag-row.footerRow {
  background-color: #5eff6b;
}

/* delete button css */

.Delete {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:var(--custom-background-color);
  border: none;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  gap: 2px;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.Delete:hover {
  transition-duration: 0.3s;
  /* background-color: rgb(255, 69, 69); */
  align-items: center;
  gap: 0;
}

.bin-top {
  transform-origin: bottom right;
}
.Delete:hover .bin-top {
  transition-duration: 0.5s;
  transform: rotate(160deg);
}


.Export {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color:var(--custom-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}

.svgIcon {
  fill: rgb(214, 178, 255);
}

.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.Export:hover {
  /* background-color: rgb(94, 191, 255); */
  transition-duration: .3s;
}

.Export:hover .icon2 {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}

.Export:hover .svgIcon {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.Print {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:var(--custom-background-color);
  border: none;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  gap: 2px;
}

.Print:hover {
  /* background-color: rgb(94, 191, 255); */
  transition-duration: .3s;
}

.printer {
  --border: black;
  --background: #fff;
  cursor: pointer;
  width: 32px;
  height: 18px;
  position: relative;
}

.printer:before, .printer:after {
  content: "";
  position: absolute;
  box-shadow: inset 0 0 0 2px var(--border);
  background: var(--background);
}

.printer:before {
  left: 0;
  right: 0;
  bottom: 0;
  height: 14px;
  border-radius: 3px;
  z-index: 2;
}

.printer:after {
  width: 26px;
  height: 6px;
  top: 0;
  left: 3px;
  border-radius: 3px 3px 0 0;
}

.printer .dot {
  width: 24px;
  height: 2px;
  border-radius: 1px;
  left: 4px;
  bottom: 4px;
  z-index: 4;
  position: absolute;
  background: var(--border);
}

.printer .dot:before, .printer .dot:after {
  content: "";
  position: absolute;
  background: var(--border);
  border-radius: 1px;
  height: 2px;
}

.printer .dot:before {
  width: 2px;
  right: 0;
  top: -5px;
}

.printer .dot:after {
  width: 4px;
  right: 3px;
  top: -5px;
}

.printer .paper {
  position: absolute;
  z-index: 1;
  width: 18px;
  height: 20px;
  border-radius: 2px;
  box-shadow: inset 0 0 0 2px var(--border);
  background: var(--background);
  left: 7px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  transform: perspective(40px) translateY(0) rotateX(4deg) translateZ(0);
  -webkit-animation: paper 1.2s ease infinite;
  animation: paper 1.2s ease infinite;
  -webkit-animation-play-state: var(--state, running);
  animation-play-state: var(--state, running);
}

.printer .paper .svg {
  display: block;
  width: 8px;
  height: 8px;
  margin-top: 4px;
}

.printer .output {
  width: 32px;
  height: 24px;
  pointer-events: none;
  top: 13px;
  left: 0;
  z-index: 3;
  overflow: hidden;
  position: absolute;
}

.printer .output .paper-out {
  position: absolute;
  z-index: 1;
  width: 18px;
  height: 20px;
  border-radius: 2px;
  box-shadow: inset 0 0 0 2px var(--border);
  background: var(--background);
  left: 7px;
  bottom: 0;
  transform: perspective(40px) rotateX(40deg) translateY(-12px) translateZ(6px);
  -webkit-animation: paper-out 1.2s ease infinite;
  animation: paper-out 1.2s ease infinite;
  -webkit-animation-play-state: var(--state, running);
  animation-play-state: var(--state, running);
}

.printer .output .paper-out:before {
  content: "";
  position: absolute;
  left: 3px;
  top: 4px;
  right: 3px;
  height: 2px;
  border-radius: 1px;
  opacity: 0.5;
  background: var(--border);
  box-shadow: 0 3px 0 var(--border), 0 6px 0 var(--border);
}

.printer:not(:hover) {
  --state: paused;
}

@-webkit-keyframes paper {
  50% {
    transform: translateY(10px) translateZ(0);
  }
}

@keyframes paper {
  50% {
    transform: translateY(10px) translateZ(0);
  }
}

@-webkit-keyframes paper-out {
  50% {
    transform: perspective(40px) rotateX(30deg) translateY(-4px) translateZ(6px);
  }
}

@keyframes paper-out {
  50% {
    transform: perspective(40px) rotateX(30deg) translateY(-4px) translateZ(6px);
  }
}
       
.dropdown-menu{
--bs-dropdown-min-width:50px;
}

/* date filter styling */
.date-filter-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.date-label {
  margin-right: 5px;
}

.date-input {
  padding: 5px;
  margin-right: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Mobile styles */
@media (max-width: 600px) {
  .date-filter-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .date-input {
    width: 100%;
    margin-right: 0;
  }

  .date-label {
    margin-bottom: 5px;
  }
}

/*Date button style*/
.Date {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: hsla(194 100% 69% / 1);
  --btn-bg-2: hsla(217 100% 56% / 1);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 20px;
  cursor: pointer;
  padding: 8px 12px 8px 16px;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow:
    0px 0px 20px rgba(71, 184, 255, 0.5),
    0px 5px 5px -1px rgba(58, 125, 233, 0.25),
    inset 4px 4px 8px rgba(175, 230, 255, 0.5),
    inset -4px -4px 8px rgba(19, 95, 216, 0.35);
}

.Date:hover {
  color: #fff;
  background-position: right top;
}



@media (prefers-reduced-motion: reduce) {
  .Date {
    transition: linear;
  }
}

/*Update Button Style*/

.Update {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px 8px 16px;
  gap: 8px;
  height: 40px;
  width: 128px;
  border: none;
  background-color:var(--custom-background-color);
  border-radius: 20px;
  cursor: pointer;
}

.lable {
  margin-top: 1px;
  font-size: 19px;
  line-height: 22px;
  color: white;
  letter-spacing: 1px;
}


.Update:hover .svg-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-8deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


/*////////////////////////////////////////////////*/
/*
.ag-root {
  height: 100%;
}
.ag-paging-panel {
  border-top: 10px solid #660c0c;
  margin-top: 10px;
}
.ag-row.ag-row-last {
  border-bottom: none;
}
*/
