:root {
  --custom-background-color: #193b62;
}

.exp-main {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
}

.exp-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  /* background-color:var(--custom-background-color); */
}

.exp-display-3 {
  font-size: 30px;
  color: #343a40;
}

.expenses {
  width: 100%;
}

.exp-form-floating {
  margin-bottom: 20px;
  position: relative;
}

.exp-form-labels {
  font-weight: 500;
  margin-bottom: 8px;
  display: block;
  color: #495057;
}

.exp-input-field {
  border-radius: 4px;
  border: 1px solid #ced4da;
  padding: 10px 15px;
  font-size: 1rem;
  width: 100%;
  transition: border-color 0.2s;
}

textarea.exp-input-field {
  resize: vertical;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.2s, border-color 0.2s;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.error {
  color: #dc3545;
  font-weight: 500;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .exp-container {
    padding: 15px 30px;
  }

  .exp-main{
    padding: 15px 20px;
    margin-top: 20px;
  }

  .exp-display-3 {
    font-size: 2rem;
  }
}

/* save button style */
.Save {
  font-family: inherit;
  font-size: 20px;
  background:var(--custom-background-color);
  color: white;
  /* fill: rgb(155, 153, 153); */
  padding: 8px 12px 8px 16px;
  /* padding-left: 0.9em; */
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}

.Save span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.Save svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.Save:hover .svg-wrapper {
  transform: scale(1.25);
  transition: 0.5s linear;
}

.Save:hover svg {
  transform: translateX(1.2em) scale(1.1);
  fill: none;
}

.Save:hover span {
  opacity: 0;
  transition: 0.5s linear;
}

.Save:active {
  transform: scale(0.95);
}
